<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ssl/src/main/java/com/allinpay/io/ssl/SimpleSSLServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.allinpay.io.ssl.SimpleSSLServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ssl"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djavax.net.ssl.keyStore=D:\Workspace\STS\io\ssl\src\main\resources\serverKeys -Djavax.net.ssl.keyStorePassword=password -Djavax.net.ssl.trustStore=D:\Workspace\STS\io\ssl\src\main\resources\serverTrust -Djavax.net.ssl.trustStorePassword=password"/>
</launchConfiguration>
